.light {
  background-color: white;
  color: black;
  min-height: 100vh;
  padding: 20px;
}

.dark {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

button {
  margin-left: 10px;
}
